body { 
	height: 100%
}
.mdl-card {
	width: 100%;
}


#fullscreenButton {
	position: absolute;
	right: 1em;
	top: 5em;	
}

/* infoButton and infoDialog*/
#infoButton {
	position: absolute;
	right: 1em;
	top: 1em;
}
#infoDialog {
	min-width: 30%;
}

/* helpButton and helpDialog*/
#helpButton {
	position: absolute;
	right: 1em;
	bottom: 1em;
}
#helpDialog {
	min-width: 30%;
}


/*info page*/
#infoPageTitle {
	font-size: 150%;
}
#infoPageHeader {
	justify-content: center; 
	margin: 1.5em;
	padding-left: 16px;
}

@media (min-width: 768px) {
	#infoPageTitle {
		font-size: 300%;
	}
}
