#videoWebcam {
        position: absolute;
        top: 0px;
        left: 0px;
        width : 320px;
        height: auto;
        zoom: 3;
}
#canvasDetection {
        position: absolute;
        top: 0px;
        left: 0px;
        width : 320px;
        height: auto;
        zoom: 3;
}
